<app-default-login-layout 
title="Faça seu cadastro!"
primaryBtnText="Cadastre-se agora"
secondaryBtnText="Login"
(submit)="submit()"
(navigate)="navigate()"
>
    <form [formGroup]="signupForm">
        <app-primary-input
        formControlName="name"
        inputName="name"
        type="text"
        label="Seu nome"
        placeholder=""><img src="assets/SVG/email.svg"/></app-primary-input>
        
        <app-primary-input
        formControlName="email"
        inputName="email"
        type="text"
        label="Email"
        ><img src="assets/SVG/email.svg"/></app-primary-input>
        
    <app-primary-input
        formControlName="password"
        inputName="password"
        type="password"
        label="Sua senha"
        ><img src="assets/SVG/lock.svg"/></app-primary-input>
        
        <app-primary-input
        formControlName="passwordConfirm"
        inputName="passwordConfirm"
        type="password"
        label="Confirmar senha"
        ><img src="assets/SVG/lock.svg"/>
    </app-primary-input>
        
    </form>
</app-default-login-layout>
